<!DOCTYPE HTML>
<html>
<head>
    <title>Choose Action</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <header>
        <h1>Choose Action</h1>
    </header>
    <div class="centered-container">
        <h2>Choose an action:</h2>
        <a href="/register" class="button">Register</a>
        <a href="/login" class="button">Login</a>
    </div>
</body>
</html>
