<!DOCTYPE html>
<html>
<head>
    <title>Create User</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <script>
        async function fetchUID() {
            try {
                const response = await fetch('/current_uid');
                const data = await response.json();
                const uidField = document.getElementById('uid');
                if (data.uid && uidField.value !== data.uid) {
                    uidField.value = data.uid;
                }
            } catch (error) {
                console.error('Error fetching UID:', error);
            }
        }

        setInterval(fetchUID, 2000); 
    </script>
</head>
<body>
    <header>
        <h1>Create User</h1>
        <div class="header-buttons">
            <button onclick="history.back()" class="button">&#x25C0; Back</button>
        </div>
    </header>
    <div class="centered-container">
        <form method="post" action="/create">
            <label for="uid">UID:</label>
            <input type="text" id="uid" name="uid" readonly>

            <label for="user">User Name:</label>
            <input type="text" id="user" name="user" required>

            <label for="permission">Permission:</label>
            <select id="permission" name="permission" required>
                <option value="YES">YES</option>
                <option value="NO">NO</option>
            </select>

            <button type="submit" class="button">Create</button>
        </form>
    </div>
</body>
</html>
