<!DOCTYPE html>
<html>
<head>
    <title>Edit Data</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <script>
        function validateForm() {
            var permission = document.getElementById('permission').value.toUpperCase();
            if (permission !== 'YES' && permission !== 'NO') {
                alert('The value for Permission must be either "YES" or "NO".');
                return false;
            }
            return true;
        }
    </script>
</head>
<body>
    <header>
        <h1>Edit Data</h1>
        <div class="header-buttons">
            <button onclick="history.back()" class="button">&#x25C0; Back</button>
        </div>
    </header>
    <div class="centered-container">
        <form method="post" action="/edit/{{ user_data[0] }}" onsubmit="return validateForm()">
            <label for="uid">UID:</label>
            <input type="text" id="uid" name="uid" value="{{ user_data[1] }}" required>

            <label for="user_name">User Name:</label>
            <input type="text" id="user" name="user" value="{{ user_data[2] }}" required>

            <label for="permission">Permission:</label>
            <input type="text" id="permission" name="permission" value="{{ user_data[3] }}" required>

            <button type="submit" class="button">Update</button>
        </form>
    </div>
</body>
</html>
