<!-- <!DOCTYPE HTML><html>
<head>
  <title>User Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <form action="/login" method="POST" enctype="application/x-www-form-urlencoded">
    Username: <input type="text" id = "username" name="username"><br>
    Password: <input type="password" id = "password" name="password"><br>
    <input type="submit" value="Login">
  </form>
</body>
</html> -->

<!DOCTYPE HTML>
<html>
<head>
<title>User Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<form action="/login" method="POST" enctype="application/x-www-form-urlencoded">

<label for="username">Username:</label>
<input type="text" id="username" name="username"><br>

<label for="password">Password:</label>
<input type="password" id="password" name="password"><br>

<input type="submit" value="Login">
</form>
<p><a href="/register">Not registered yet?</a></p>
</body>
</html>