<!DOCTYPE HTML>
<html>
<head>
    <title>User registration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <header>
        <h1>User registration</h1>
    </header>
    <div class="centered-container">
        {% if error_message %}
        <div class="error-message">
            <p>{{ error_message }}</p>
        </div>
        {% endif %}
        <form action="/register" method="post">
            <label for="username">User Name:</label>
            <input type="text" id="username" name="username" required>

            <label for="ueid">UEID:</label>
            <input type="text" id="ueid" name="ueid" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Register</button>
        </form>
        <p><a href="/login">Already registered?</a></p>
    </div>
</body>
</html>
