body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px; /* базовый размер шрифта */
}

.container {
    max-width: 90%; /* адаптивный максимальный размер контейнера */
    margin: 0 auto;
    padding: 2em;
}

h2 {
    text-align: center;
    color: #333;
    font-size: 1.5em;
}

form {
    background-color: #f9f9f9;
    padding: 1.25em;
    border-radius: 0.5em;
    box-shadow: 0 0 0.625em rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 0.3125em;
    font-weight: bold;
    color: #333;
}

input[type="text"] {
    width: 100%;
    padding: 0.625em;
    margin-bottom: 1.25em;
    border: 0.0625em solid #ddd;
    border-radius: 0.25em;
    box-sizing: border-box;
    font-size: 1em;
}

button.button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 0.625em;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    margin-top: 0.625em;
    border-radius: 0.25em;
    border: none;
    cursor: pointer;
}

button.button:hover {
    background-color: #45a049;
}
